// Color Variables
$cyan-600: hsl(192, 37%, 48%);
$cyan-300: hsl(192, 90%, 77%);
$purple-600: hsl(268, 34%, 53%);
$purple-300: hsl(268, 100%, 86%);
$slate-900: hsl(240, 21%, 20%);
$slate-600: hsl(240, 10%, 57%);
$slate-300: hsl(240, 18%, 85%);
$white: hsl(0, 0%, 98%);

// Typography 
$font-family: 'Red Hat Display', sans-serif;

// Spacing

$space-1400: 7rem;
$space-1000: 5rem;
$space-900: 4.2rem;
$space-800: 4rem;
$space-700: 3.5rem;
$space-500: 2.5rem;
$space-400: 2rem;
$space-300: 1.5rem;
$space-200: 1rem;
$space-100: 0.5rem;
$space-50: 0.25rem;



