// Text presets

@mixin text-preset-1 {
    font-family: $font-family;
    font-weight: bold;
    font-size: 4rem;
    line-height: 110%;
    letter-spacing: 0px;
    color: $slate-900;
}

@mixin text-preset-2 {
    font-family: $font-family;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 110%;
    letter-spacing: 0;
    color: $slate-900;
}

@mixin text-preset-3 {
    font-family: $font-family;
    font-weight: bold;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: 4px;
    color: $cyan-600;
    text-transform: capitalize;
}

@mixin text-preset-4 {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 110%;
    letter-spacing: 0px;
    color: $slate-900;
}

@mixin text-preset-5 {
    font-family: $font-family;
    font-weight: bold;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0px;
    color: $slate-900;
}

//Buttons

//Blue button

@mixin button-blue {
    background-color: $cyan-600;
    padding: $space-200 $space-500;
    border-radius: 25px;
    color: $white;


    &:hover {
        background-color: lighten($cyan-600, 5%);
    }
}

@mixin button-purple {
    background-color: $purple-600;
    padding: $space-200 $space-500;
    border-radius: 25px;
    color: $white;

    &:hover {
        background-color: lighten($purple-600, 5%);
    }
}