@use "variables" as *;

// Text presets

@mixin text-preset-1 {
    font-family: $font-family;
    font-weight: bold;
    font-size: 4rem;
    line-height: 110%;
    letter-spacing: 0px;
    color: $slate-900;
}

@mixin text-preset-2 {
    font-family: $font-family;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 110%;
    letter-spacing: 0;
    color: $slate-900;
}

@mixin text-preset-3 {
    font-family: $font-family;
    font-weight: bold;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: 4px;
    color: $cyan-600;
    text-transform:uppercase;
}

@mixin text-preset-4 {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 150%;
    letter-spacing: 0px;
    color: $slate-900;
}

@mixin text-preset-5 {
    font-family: $font-family;
    font-weight: bold;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0px;
}

//Buttons

//Blue button

@mixin button($background-color, $color) {
    background-color: $background-color;
    padding: $space-200 $space-500;
    border-radius: 50px;
    color: $color;
    border: none;
    @include text-preset-5;


    &:hover {
        background-color: lighten($background-color, 5%);
    }
}

// Section number

@mixin section-number {
    display: flex;
    border: 1px solid $slate-300;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    align-items: center;
    justify-content: center;
    color: $slate-600;
    @include text-preset-5;
}

@mixin vertical-line {
    width: 2px;
    height: 5rem;
    background-color: $slate-300;
}