@use "variables" as *;
@use "mixins" as *;

//Global styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: $space-1000;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

p {          
    @include text-preset-4;
}

.vertical-line {
    @include vertical-line;
}

.section-number {
    @include section-number;
}

.button-blue {
    @include button($cyan-600, $white);
    
    .version {
        color: $cyan-300;
    }
}

.button-purple {
    @include button($purple-600, $white);

    .version {
        color: $purple-300;
    }
}

// Content styles

.hero-wrap {

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        }

    .hero {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin: $space-800 ;

        .hero-left {
            grid-area: 1 / 1 / 2 / 2;
            margin-left: -$space-1400;
        }

        .hero-content {
            grid-area: 1 / 2 / 2 / 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: $space-400;

            h1 {
                @include text-preset-1;
            }

            .hero-buttons {
                display: flex;
                gap: 1.063rem;
            }
        }

        .hero-right {
            grid-area: 1 / 3 / 2 / 4;
            margin-right: -$space-1400;
        }
}
}

.main-content {
    display: flex;
    flex-direction: column;
    max-width: 90rem;
    align-items: center;
    margin: $space-700 $space-1000 $space-900;

    .image-gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        margin: $space-800 auto;

        img {
            border-radius: 2%;
            height: 16rem;
            width: 100%;
        }
    }

    .main-text {
        text-align: center;
        max-width: 34rem;

        h2 {
            @include text-preset-3;
            margin-bottom: $space-200;
        }

        h3 {
            @include text-preset-2;
            margin-bottom: $space-400;
            padding: 0 $space-900;
        }

    }
  
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: auto;

    .vertical-line, .section-number {
        z-index: 3;
    }

    .section-number {
        background-color: $white;
    }


    .footer-article {
        height: 19.5rem;
        width: 100%;
        margin-top: -1.75rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $space-400;
        padding: $space-1400 ($space-1000*2);
        background-image: url(../assets/desktop/image-footer.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        z-index: 2;
        

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: hsl(192, 37%, 48%, 0.8);
            z-index: 0;
        }

        h3, p, button {
            position: relative;
            z-index: 1;
            width: auto;
            justify-self: center;
            align-self: center;
        }

        h3 {
            @include text-preset-2;
            color: $white;
        }

        p {
            color: $white;
        }
       
    }
}
