* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 5rem;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0px;
  color: hsl(240, 21%, 20%);
}

.vertical-line {
  width: 2px;
  height: 5rem;
  background-color: hsl(240, 18%, 85%);
}

.section-number {
  display: flex;
  border: 1px solid hsl(240, 18%, 85%);
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  align-items: center;
  justify-content: center;
  color: hsl(240, 10%, 57%);
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0px;
}

.button-blue {
  background-color: hsl(192, 37%, 48%);
  padding: 1rem 2.5rem;
  border-radius: 50px;
  color: hsl(0, 0%, 98%);
  border: none;
  white-space: nowrap;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0px;
}
.button-blue:hover {
  background-color: hsl(192, 37%, 53%);
}
.button-blue .version {
  color: hsl(192, 90%, 77%);
}

.button-purple {
  background-color: hsl(268, 34%, 53%);
  padding: 1rem 2.5rem;
  border-radius: 50px;
  color: hsl(0, 0%, 98%);
  border: none;
  white-space: nowrap;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0px;
}
.button-purple:hover {
  background-color: hsl(268, 34%, 58%);
}
.button-purple .version {
  color: hsl(268, 100%, 86%);
}

.hero-wrap img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hero-wrap .hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin: 4rem;
  gap: 0 2rem;
}
.hero-wrap .hero .hero-left {
  grid-area: 1/1/2/2;
  margin-left: -7rem;
}
.hero-wrap .hero .hero-content {
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.hero-wrap .hero .hero-content h1 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  line-height: 110%;
  letter-spacing: 0px;
  color: hsl(240, 21%, 20%);
}
.hero-wrap .hero .hero-content .hero-buttons {
  display: flex;
  gap: 1.063rem;
}
.hero-wrap .hero .hero-right {
  grid-area: 1/3/2/4;
  margin-right: -7rem;
}
.hero-wrap .hero .image-pair {
  display: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  align-items: center;
  margin: 3.5rem 5rem 4.2rem;
}
.main-content .image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 4rem auto;
}
.main-content .image-gallery img {
  border-radius: 2%;
  max-height: 16rem;
  width: 100%;
}
.main-content .main-text {
  text-align: center;
  max-width: 34rem;
}
.main-content .main-text h2 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: 4px;
  color: hsl(192, 37%, 48%);
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.main-content .main-text h3 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 110%;
  letter-spacing: 0;
  color: hsl(240, 21%, 20%);
  margin-bottom: 2rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: auto;
}
.footer-content .vertical-line, .footer-content .section-number {
  z-index: 3;
}
.footer-content .section-number {
  background-color: hsl(0, 0%, 98%);
}
.footer-content .footer-article {
  min-height: 19.5rem;
  height: auto;
  width: 100%;
  margin-top: -1.75rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 7rem 5rem;
  background-image: url(../assets/desktop/image-footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.footer-content .footer-article::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(192, 37%, 48%, 0.8);
  z-index: 0;
}
.footer-content .footer-article h3, .footer-content .footer-article p, .footer-content .footer-article button {
  position: relative;
  z-index: 1;
  width: auto;
  justify-self: end;
  align-self: center;
}
.footer-content .footer-article h3 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 110%;
  letter-spacing: 0;
  color: hsl(240, 21%, 20%);
  color: hsl(0, 0%, 98%);
  max-width: 22.188rem;
}
.footer-content .footer-article p {
  color: hsl(0, 0%, 98%);
  max-width: 22.188rem;
}
.footer-content .footer-article button {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  body {
    margin-top: 3rem;
  }
  h1 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 110%;
    letter-spacing: 0px;
    color: hsl(240, 21%, 20%);
  }
  h2 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 110%;
    letter-spacing: 0;
    color: hsl(240, 21%, 20%);
  }
  h3 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 110%;
    letter-spacing: 4px;
    color: hsl(192, 37%, 48%);
    text-transform: uppercase;
  }
  p {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0px;
    color: hsl(240, 21%, 20%);
  }
  .hero-wrap .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .hero-wrap .hero .hero-left, .hero-wrap .hero .hero-right {
    display: none;
  }
  .hero-wrap .hero .image-pair {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 3.5rem;
  }
  .hero-wrap .hero .image-pair img {
    width: 75%;
    max-width: none;
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .hero-wrap .hero .hero-content {
    max-width: 27.5rem;
  }
  .hero-wrap .hero .hero-content h1 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 110%;
    letter-spacing: 0px;
    color: hsl(240, 21%, 20%);
  }
  .main-content .main-text h2 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 110%;
    letter-spacing: 4px;
    color: hsl(192, 37%, 48%);
    text-transform: uppercase;
  }
  .main-content .main-text h3 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 110%;
    letter-spacing: 0;
    color: hsl(240, 21%, 20%);
  }
  .footer-content .footer-article {
    display: flex;
    flex-direction: column;
    padding: 4rem 6rem;
    min-height: 20rem;
    height: auto;
  }
  .footer-content .footer-article h3 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 110%;
    letter-spacing: 0;
    color: hsl(240, 21%, 20%);
    color: hsl(0, 0%, 98%);
    max-width: 100%;
  }
  .footer-content .footer-article p {
    max-width: 85%;
  }
  .footer-content .footer-article h3, .footer-content .footer-article p {
    text-align: center;
  }
}
@media (max-width: 375px) {
  body {
    margin-top: 2rem;
  }
  h1 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 110%;
    letter-spacing: 0px;
    color: hsl(240, 21%, 20%);
  }
  h2 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: 0;
    color: hsl(240, 21%, 20%);
  }
  h3 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 110%;
    letter-spacing: 4px;
    color: hsl(192, 37%, 48%);
    text-transform: uppercase;
  }
  .hero-wrap .hero {
    margin-bottom: 2rem;
  }
  .hero-wrap .hero .hero-content {
    max-width: 20rem;
  }
  .hero-wrap .hero .hero-content h1 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 110%;
    letter-spacing: 0px;
    color: hsl(240, 21%, 20%);
  }
  .hero-wrap .hero .hero-content .hero-buttons {
    flex-direction: column;
  }
  .main-content {
    margin: 2rem 2rem 4rem;
  }
  .main-content .image-gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .main-content .main-text h2 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 110%;
    letter-spacing: 4px;
    color: hsl(192, 37%, 48%);
    text-transform: uppercase;
  }
  .main-content .main-text h3 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: 0;
    color: hsl(240, 21%, 20%);
    padding: 0;
  }
  .footer-content .footer-article {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 2rem;
    height: 23.375rem;
  }
  .footer-content .footer-article h3 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: 0;
    color: hsl(240, 21%, 20%);
    color: hsl(0, 0%, 98%);
    max-width: 100%;
  }
  .footer-content .footer-article p {
    max-width: 100%;
  }
  .footer-content .footer-article h3, .footer-content .footer-article p {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
